/* GENERAL STYLE */
body, html {margin:0;padding:0;width:100%;}
#rs-contain h2 {font-family:'Montserrat', san-serif;margin:0;padding:0;}
#rs-contain hr {width: 96%;border: 2px solid #aaa;}
#rs-contain p, #rs-contain li, #rs-contain span {font-family: 'Crimson Text', serif;}
#rs-contain ul {font-size: 1.2em;}
#rs-contain li {margin: 5px 0 5px 20px;}
#rs-contain a {text-decoration: none;color:#333;}
#rs-contain {overflow:hidden;width:100%;}

/* HEADER STYLE */
#rs-header {width:100%;background:#333;height:8%;margin: 0;padding:0;position:fixed;z-index:100;}
	.rs-site {overflow:hidden;float:left;}
	#rs-header h2 {font-weight:400;text-transform: uppercase; font-size:125%;margin: 17px 20px;}
	#rs-contain .rs-site a {color:#fff;}
	.rs-site a:hover {color:#eee;}

	#rs-header>div:nth-of-type(2) {float:none;}
	#rs-header>div:nth-of-type(2) h2 {font-size:100%;margin:13px 0 0 0;}
	#rs-header>div:nth-of-type(2) a {color:#b3cde3;}
	#rs-header>div:nth-of-type(2) a:hover {color:#edf8fb;}

	#rs-header>div:last-of-type {float:right;display:none;}
	#rs-header>div:last-of-type a {font-family:'Montserrat', san-serif;color:#fff;text-transform: uppercase;font-size: .9em;position: relative;margin: 0 30px;top:14px;}
	#rs-header>div:last-of-type a:hover {color:#b3cde3;}

/* BODY STYLE */
#rs-body {width:96%;margin:80px 2% 50px 2%;overflow:hidden;}
	#rs-body hr {width: 96%;border: 1px dashed #ddd;margin:70px 0;}
	#rs-body p, #rs-content span, #rs-content li {font-size:1.2em;line-height:1.8em;}
	#rs-body a {color:#88419d;}
	#rs-body a:hover {text-decoration:underline;}
	#rs-body h1 {text-align: center;font-size: 2.1em;font-family:'Montserrat', san-serif;}
	#rs-body h2 {text-align: center;font-size: 2em;text-transform: uppercase;}
	#rs-body h3 {text-transform: uppercase;color:#333;font-size: 1.2em;font-weight: 700;font-family:'Montserrat', san-serif;text-align:center;margin:30px 0;}

#lcff-top {height:30px;overflow:hidden;}
	#lcff-top a  {color:#aaa;font-style: italic;letter-spacing: 2px;}
	#lcff-top a i {color:#b3cde3;}
	#lcff-top a:hover i {color:#88419d;text-decoration: none;}
	#lcff-top a:hover {text-decoration: none;}
	#lcff-top>div {float:left;}
	#lcff-top>div:first-of-type {display:none;}
	#lcff-top>div:last-of-type {float:right;}

/* FOOTER STYLE */
#rs-footer {padding: 20px 0;border-top:1px #333 solid;}
	#rs-footer h2 {text-align: center;}
	#rs-footer h2 a {color:#333;}

	#rs-footer>div {margin: 10px auto;max-width: 465px;}
	#rs-footer>div a {margin-right: 6%;font-family: 'Montserrat', san-serif;color:#88419d;}
	#rs-footer a:hover {text-decoration: underline;}

/* SLIDE TITLE */
#lcff-title {margin: 3em 0;}
	#lcff-title h2 {text-transform: capitalize;color: #333;font-weight: 400;}

/* SLIDE STYLE */
#lcff-nav {display:none;}
	#lcff-nav>div:first-of-type {border-bottom: dashed 1px #555;width: 80%;margin: 0 auto;}
	#rs-contain #lcff-nav ul {list-style-type: none;padding:0 0 0 1em;}
	#rs-contain #lcff-nav i {margin:0 10px 0 0;;color:#88419d;visibility: hidden;float:left;}
	#rs-contain #lcff-nav li {font-family:'Montserrat', san-serif;color: #333;font-size:.8em;line-height: 1.6em;}
	#rs-contain #lcff-nav a {color:#333;}
	#lcff-nav h2 {font-size: 1em;margin: 10px 0;color: #333;}
.lcff-subnav {height:0;overflow: hidden;margin:0;}

#lcff-slides {width:100%;margin:0 auto;}
	.lcff-content {border-top: solid 1px #aaa;padding: 1em 0 0 0;}

.lcff-slide {display:none;}
.lcff-slide[type="0"] {display:block;}
	.lcff-slide img {width: 90%;display: block;margin: 0 auto;max-width: 700px;}
.lcff-slide[type="28"] {display:block;}


/* MOBILE STYLE */
@media screen and (min-width:768px){
	#rs-logo {display:block;}
	#rs-body {margin:80px auto 50px auto;}

	#rs-header {height:50px;}
		#rs-header>div:nth-of-type(2) {float:left;}
		#rs-header h2 {margin: 9px 20px;}

	

}

@media screen and (min-width:1028px){
	#lcff-nav {width:26%;position: fixed;top: 105px;left: 1%;display:block;background: #b3cde3;}
	#lcff-slides {width:70%;float:right;}

	#rs-header>div:last-of-type {display:block;}

}





