/* HEADER STYLE 
===========================================*/
#slick-header>div:nth-of-type(2) a {color:#b3cde3;}
#slick-header>div:nth-of-type(2) a:hover {color:#edf8fb;}
#slick-header .slick-nav-hed a:hover {color:#b3cde3;}

/* BODY STYLE 
===========================================*/
#slick-body a {color:#88419d;}

/* TOP NAV STYLE 
===========================================*/
#lcff-top {height:30px;overflow:hidden;}
	#lcff-top a  {color:#aaa;font-style: italic;letter-spacing: 2px;}
	#lcff-top a i {color:#b3cde3;}
	#lcff-top a:hover i {color:#88419d;text-decoration: none;}
	#lcff-top a:hover {text-decoration: none;}
	#lcff-top>div {float:left;}
	#lcff-top>div:first-of-type {display:none;}
	#lcff-top>div:last-of-type {float:right;}

/* SLIDE STYLE 
===========================================*/
#lcff-title {margin: 3em 0;}
	#lcff-title h2 {text-transform: capitalize;color: #333;font-weight: 400;}

#lcff-nav {display:none;}
	#lcff-nav>div:first-of-type {border-bottom: dashed 1px #555;width: 80%;margin: 0 auto;}
	#slick-contain #lcff-nav ul {list-style-type: none;padding:0 0 0 1em;}
	#slick-contain #lcff-nav i {margin:0 10px 0 0;;color:#88419d;visibility: hidden;float:left;}
	#slick-contain #lcff-nav li {font-family:'Montserrat', san-serif;color: #333;font-size:.8em;line-height: 1.6em;}
	#slick-contain #lcff-nav a {color:#333;}
	#lcff-nav h2 {font-size: 1em;margin: 10px 0;color: #333;}
.lcff-subnav {height:0;overflow: hidden;margin:0;}

#lcff-slides {width:100%;margin:0 auto;}
	.lcff-content {border-top: solid 1px #aaa;padding: 1em 0 0 0;}

.lcff-slide {display:none;}
.lcff-slide[type="0"] {display:block;}
	.lcff-slide img {width: 90%;display: block;margin: 0 auto;max-width: 700px;}
.lcff-slide[type="28"] {display:block;}

/* MOBILE STYLE 
===========================================*/

@media screen and (min-width:768px){}

@media screen and (min-width:1028px){
	#lcff-nav {width:26%;position: fixed;top: 105px;left: 1%;display:block;background: #b3cde3;}
	#lcff-slides {width:70%;float:right;}
}